<div id="extension-photo-frame-content">
  
    <div id="extension-photo-frame-content-container">

        
        
        <div id="extension-photo-frame-picture-holder">
            <div id="extension-photo-frame-picture1" class="extension-photo-frame-picture"></div>
            <div id="extension-photo-frame-picture2" class="extension-photo-frame-picture"></div>
            <div id="extension-photo-frame-clock-container">
                <div id="extension-photo-frame-clock"></div>
                <div id="extension-photo-frame-date">
                    <div id="extension-photo-frame-date-day"></div>
                    <div id="extension-photo-frame-date-container">
                        <span id="extension-photo-frame-date-date"></span>
                        <span id="extension-photo-frame-date-spacer">&nbsp;</span>
                        <span id="extension-photo-frame-date-month"></span>
                    </div>
                </div>
            </div>
            <!--<div id="extension-photo-frame-picture-exit-container"><div id="extension-photo-frame-picture-exit">Overview</div></div>-->
            <button id="extension-photo-frame-more-button" class="icon-button"></button>
        </div>
        
        
        <div id="extension-photo-frame-overview" class="extension-photo-frame-hidden">
            <h3>Your pictures</h3>
            <ul id="extension-photo-frame-photos-list"></ul>
            <!--
            <div id="extension-photo-frame-dropzone">
                <div>Drop files here to upload</div>
            </div>
            -->

            <input id="extension-photo-frame-photos-file-selector"  accept=".gif,.png,.jpg,.jpeg,image/gif,image/png,image/jpeg" type="file" />
            <!--
            <button id="extension-photo-frame-back-button" class="back-button icon-button" data-l10n-id="back-button" aria-label="Back"></button>
            -->
           
            <div id="extension-photo-frame-response">
                <p id="extension-photo-frame-response-data"></p>
            </div>
            
            
        </div>
        
    </div>
</div>





