<div id="extension-photo-frame-content">
  
    <div id="extension-photo-frame-content-container">

        
        
        <div id="extension-photo-frame-picture-holder">
            <div id="extension-photo-frame-clock-container"><div id="extension-photo-frame-clock"></div></div>
            <div id="extension-photo-frame-picture-exit-container"><div id="extension-photo-frame-picture-exit">Overview</div></div>
        </div>
        
        
        <div id="extension-photo-frame-overview" class="extension-photo-frame-hidden">
            <h3>Your pictures</h3>
            <ul id="extension-photo-frame-photos-list"></ul>
            <!--
            <div id="extension-photo-frame-dropzone">
                <div>Drop files here to upload</div>
            </div>
            -->

           <input id="extension-photo-frame-photos-file-selector"  accept=".gif,.png,.jpg,.jpeg,image/gif,image/png,image/jpeg" type="file" />
        
            <div id="extension-photo-frame-response">
                <p id="extension-photo-frame-response-data"></p>
            </div>
        </div>
        
    </div>
</div>





