<div id="extension-photo-frame-content">
    
    <div id="extension-photo-frame-content-container">

        <div id="extension-photo-frame-picture-holder">
            <div id="extension-photo-frame-picture1" class="extension-photo-frame-picture"></div>
            <div id="extension-photo-frame-picture2" class="extension-photo-frame-picture"></div>
            
			<div id="extension-photo-frame-clock-container">
                <div id="extension-photo-frame-clock"></div>
                <div id="extension-photo-frame-date">
                    <div id="extension-photo-frame-date-day"></div>
                    <div id="extension-photo-frame-date-container">
                        <span id="extension-photo-frame-date-date"></span>
                        <span id="extension-photo-frame-date-spacer">&nbsp;</span>
                        <span id="extension-photo-frame-date-month"></span>
                    </div>
                </div>
                <div id="extension-photo-frame-weather-container">
                    <div id="extension-photo-frame-weather-temperature"></div>
                    <div id="extension-photo-frame-weather-description"></div>
                </div>
            </div>
            
            
            
            <!--<div id="extension-photo-frame-picture-exit-container"><div id="extension-photo-frame-picture-exit">Overview</div></div>-->
			<div id="extension-photo-frame-start-screensaver-button-container"><button id="extension-photo-frame-start-screensaver-button" class="icon-button"></button><div id="extension-photo-frame-start-screensaver-countdown-indicator"></div></div>
			<div id="extension-photo-frame-next-photo-button-container"><button id="extension-photo-frame-next-photo-button" class="icon-button"></button></div>
			<div id="extension-photo-frame-more-button-container"><button id="extension-photo-frame-more-button" class="icon-button"></button></div>
			<div id="extension-photo-frame-print-button-container">
				<button id="extension-photo-frame-print-button" class="extension-photo-frame-icon-button"></button>
				<div id="extension-photo-frame-print-button-confirm-container">
					<button id="extension-photo-frame-print-confirm-button" class="extension-photo-frame-icon-button"></button>
					<button id="extension-photo-frame-print-cancel-button" class="extension-photo-frame-icon-button"></button>
				</div>
			</div>
			
			<div id="extension-photo-frame-voco-container"></div>
			
			<div id="extension-photo-frame-selected-photo-indicator-container"></div>
			
    </div>
		
        
        
		<div id="extension-photo-frame-overview" class="extension-photo-frame-hidden">
      		<h3>Your pictures</h3>
			
	      	<ul id="extension-photo-frame-photos-list"></ul>
            
			<div>
				<div id="extension-photo-frame-dropzone">
					<div>Drop files here to upload</div>
				</div>
				<div>
					<button id="extension-photo-frame-add-random-photo-button" class="text-button">Add random photo</button>
				</div>
			</div>

            <input id="extension-photo-frame-photos-file-selector" accept=".gif,.png,.jpg,.jpeg,.webp,image/gif,image/png,image/jpeg,image/webp" type="file" multiple="multiple"/>
            <div id="extension-photo-frame-photos-file-selector-overlay">&nbsp;</div>
            <!--
            <button id="extension-photo-frame-back-button" class="back-button icon-button" data-l10n-id="back-button" aria-label="Back"></button>
            -->
           
            <div id="extension-photo-frame-response">
                <p id="extension-photo-frame-response-data"></p>
            </div>
            
            <div id="extension-photo-frame-upload-progress-container"></div>
			
        </div>
        
    </div>
</div>





